:root {
  --primari-white-color: #ffffff;
  --variable-color: #2196f3;
  --text-color: #757575;
  --basic-color: #212121;
  --background-central: #2f303a;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
address {
  font-style: normal;
}
.cection {
  padding-top: 94px;
  padding-bottom: 94px;
}
.accent:hover,
.acsent:focus {
}
body {
  font-family: "Roboto", sans-serif;
  text-color: var(--basic-color);
  background-color: var(--primari-white-color);
  letter-spacing: 0.03em;
}

  

/* ХЕДЕР */
.heder-page {
  background: var(--primari-white-color);
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.hader-container {
  display: flex;
  align-items: center;
}

/* Подсветка ссылок кнопок
/* .logo-text {
  color: #212121; */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.style-navig-list {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--variable-color);
  margin-right: 94px;
}
.accent-boton {
  color: var(--basic-color);
}
.navig-list {
  display: flex;
  align-items: center;
}
.navig-list-item:not(:last-child) {
  margin-right: 50px;
}
.link-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--basic-color);
}

.contakt {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.contakt-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contakt-list-item:not(:last-child) {
  margin-right: 50px;
}

/* ГЕРОЙ */
.section-list {
  background-color: var(--background-central);
}
.section-heder {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--primari-white-color);
  align-items: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 280px;
  margin-left: auto;
  margin-right: auto;
  width: 620px;
}
.section-baton {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primari-white-color);
  background-color: var(--variable-color);
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.pointer :hover,
:focus {
  cursor: pointer;
  color: var(--variable-color);
}

/* СЕКЦИЯ 1 */
.section-main-first {
  background-color: var(--primari-white-color);
}
/* СПРЯТАТЬ ТЕКСТ */
.section-hide {
  display: none;
}
.main-first-description {
  align-items: center;
  display: flex;
  margin-top: 94;
}
.navig-cection-one :not(:last-child) {
  margin-right: 30px;
}

.section-main-heder {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-color);
  width: 270px;
}

.section-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 10px;
  width: 270px;
}
.section-picture {
  background-color: var(--primari-white-color);
}
.section-picture-img {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* 1-2 секции характеристики заголовка */
.section-main-picture,
.team-hader {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--basic-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
}
/* <!-- Секция 2--> */
.section-team {
  background: #f5f4fa;
}
.team-hader-employees {
  align-items: center;
  display: flex;
  text-align: center;
}
.employees-card {
  margin-right: 30px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
/* :not(:nth-child(3n)) :not(:nth-last-child(-n + 3)) */
/* margin-bottom: 30px; */
/* margin-right: 30px; */

.team-hader-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--basic-color);
  margin-top: 30px;
}
.team-hader-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 10px;
}

/* ПОДВАЛ */
.footer-page {
  background: #2f303a;
}
.footer-page-logo {
  padding-top: 60px;
}
.accent-boton-footer {
  color: var(--primari-white-color);
}
.footer-page-adres {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 10px;
}
.logo-navig-tel {
  margin-top: 10px;
}
.logo-navig-mail {
  /* margin-top: 50px; */
}
.footer-navigation-list {
  margin-top: 10px;
  padding-bottom: 90px;
}

/* ==========222222222======== */
/* Портфолио */
.section-boton-nav {
  background: #e5e5e5;
}
.botton-navigation {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
  
}
.navig-button-item {
  margin-right: 8px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  
}

}
.botons-stil {
  color: var(--basic-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  background: #F5F4FA;
  
}
.section-img-collection {
}
.section-img-list {
}
.section-img-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--basic-color);
}
.section-img-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
